{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <p>
    <b>Please login...</b>
  </p>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}


